<%- include('modules/head'); %>
<body
  class=""
  style="
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-image: url('/images/bg-2.jpg');
    background-color: hsla(160, 67%, 14%, 0.4);
    background-blend-mode: soft-light;
  "
>
  <!-- -----HEADER ----- -->
  <header class="m-all_2"><%- include('components/header'); %></header>

  <!-- ----- MAIN ----- -->
  <main class="app">
    <div class="main">
      <div class="form-container m-bottom_2">
        <div
          class="form-tabs dis-flex jus-cont-sb w-full m-bottom_2 p-bottom_1"
        >
          <div class="form-tab dis-flex jus-cont-c w-full active">Login</div>
          <div class="form-tab dis-flex jus-cont-c w-full">Signup</div>
        </div>

        <div class="form-tab-content">
          <form action="" class="form">
            <div class="form-group">
              <label for="">Fullname</label>
              <input type="text" />
            </div>
            <div class="form-group">
              <label for="">Username</label>
              <input type="text" />
            </div>
            <div class="form-group">
              <label for="">Email</label>
              <input type="text" />
            </div>
            <div class="form-group">
              <label for="">Phone number</label>
              <input type="text" />
            </div>
            <div class="form-group">
              <label for="">WhasApp</label>
              <input type="text" />
            </div>
            <div class="form-group">
              <label for="">Instagram</label>
              <input type="text" />
            </div>
            <div class="form-group">
              <label for="">Facebook</label>
              <input type="text" />
            </div>

            <input type="submit" class="btn" value="Sign up" />
          </form>
        </div>

        <div class="form-tab-content active">
          <form action="" class="form">
            <div class="form-group">
              <label for="">Username</label>
              <input type="text" />
            </div>
            <div class="form-group">
              <label for="">Password</label>
              <input type="text" />
            </div>
            <input type="submit" value="Login" />
          </form>
        </div>
      </div>
    </div>
  </main>

  <!-- NAV -->
  <nav class="side-nav close"><%- include('components/navbar'); %></nav>

  <!-- MODAL -->
  <div class="modal-container close p-all_2 dis-flex jus-cont-c align-items-c">
    <%- include('components/modal'); %>
  </div>

  <!-- ----- FOOTER ----- -->
  <footer class="footer dis-flex jus-cont-c align-items-c p-all_2">
    <%- include('components/footer'); %>
  </footer>

  <script src="/script/script.js" type="module"></script>
</body>
