<%- include('modules/head'); %>
<body
  class="p-all_2"
  style="
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-image: url('/images/bg-2.jpg');
    background-color: hsla(160, 67%, 14%, 0.4);
    background-blend-mode: soft-light;
  "
>
  <!-- -----HEADER ----- -->
  <header class="m-bottom_2"><%- include('components/header'); %></header>

  <!-- ----- MAIN ----- -->
  <main class="app">
    <div class="main">
      <div class="top-collections">
        <h1
          class="m-bottom_1 flex p-all_2 justify-c rounded-radius_2"
          style="
            color: whitesmoke;
            background-color: hsla(160, 67%, 14%, 0.7);
            max-width: max-content;
            margin: 0 auto;
          "
        >
          TOP COLLECTIONS
        </h1>

        <div class="furniture-cards row gap-2 justify-c">
          <%- include('components/furniture-card'); %>
        </div>
      </div>

      <div class="trending-designs">
        <h1
          class="m-bottom_1 flex p-all_2 justify-c rounded-radius_2"
          style="
            color: whitesmoke;
            background-color: hsla(160, 67%, 14%, 0.7);
            max-width: max-content;
            margin: 0 auto;
          "
        >
          TRENDING DESIGNS
        </h1>

        <div class="furniture-cards row gap-2 justify-c">
          <%- include('components/furniture-card'); %>
        </div>
      </div>
    </div>
  </main>

  <!-- NAV -->
  <nav class="nav close"><%- include('components/navbar'); %></nav>

  <!-- ----- FOOTER ----- -->
  <footer><%- include('components/footer'); %></footer>

  <script src="/script/script.js" type="module"></script>
</body>
