<%- include('modules/head'); %>
<body
  class=""
  style="
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-image: url('/images/bg-2.jpg');
    background-color: hsla(160, 67%, 14%, 0.4);
    background-blend-mode: soft-light;
  "
>
  <!-- -----HEADER ----- -->
  <header class="m-all_2"><%- include('components/header'); %></header>

  <!-- ----- MAIN ----- -->
  <main class="app">
    <div class="main">
      <div class="top-collections">
        <h1
          class="flex p-all_2 p-bottom_1 justify-c rounded-radius_2"
          style="
            color: whitesmoke;
            background-color: hsla(160, 67%, 14%, 0.7);
            max-width: max-content;
            margin: 0 auto 20px auto;
          "
        >
          TOP COLLECTIONS
        </h1>

        <div class="collections-cards row gap-1 justify-c">
          <%- include('components/collection'); %>
        </div>
      </div>

      <div class="trending-designs">
        <h1
          class="dis-grid p-all_2 justify-c rounded-radius_2"
          style="
            color: whitesmoke;
            background-color: hsla(160, 67%, 14%, 0.7);
            max-width: max-content;
            margin: 20px auto;
          "
        >
          TRENDING DESIGNS
        </h1>

        <div class="furniture-cards row gap-1">
          <%- include('components/furniture-card'); %>
        </div>
      </div>
    </div>
  </main>

  <!-- NAV -->
  <nav class="side-nav close"><%- include('components/navbar'); %></nav>

  <!-- MODAL -->
  <div class="modal-container close p-all_2 dis-flex jus-cont-c align-items-c">
    <%- include('components/modal'); %>
  </div>

  <!-- ----- FOOTER ----- -->
  <footer class="footer dis-flex jus-cont-c align-items-c p-all_2">
    <%- include('components/footer'); %>
  </footer>

  <script src="/script/script.js" type="module"></script>
</body>
