<%- include('modules/head'); %>
<body
  class=""
  style="
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-image: url('/images/bg-2.jpg');
    background-color: hsl(153, 85%, 3%);
    background-blend-mode: soft-light;
  "
>
  <!-- -----HEADER ----- -->
  <header class="m-all_2"><%- include('components/header'); %></header>

  <!-- ----- MAIN ----- -->
  <main class="app">
    <div class="main">
      <div class="hero">
        <div class="hero-intro">
          <h1>Furniture Gallery</h1>
          <p>
            A platform to showcase exquisite furniture pieces from furniture
            designers and makers in Africa.
          </p>
          <div class="action">
            <a href="#top-collections">
              <button class="button m-top_2 p-x_2 p-y_1 rounded-radius_2">
                Explore Now
              </button>
            </a>

            <a
              href="https://www.youtube.com/channel/UCeCjEJ6vlVURF9xEhm0T6Sg/videos"
              target="_blank"
              rel="noopener noreferrer"
            >
              <button class="button m-top_2 p-x_2 p-y_1 rounded-radius_2">
                <span style="color: red; margin-left: -10px">▶</span> Watch
                Video
              </button></a
            >
          </div>
        </div>
      </div>

      <div class="top-collections m-bottom_2" id="top-collections">
        <h1
          class="flex p-all_2 p-bottom_1 justify-c rounded-radius_2"
          style="
            color: whitesmoke;
            background-color: hsl(153, 85%, 3%);
            filter: blur(4);
            max-width: max-content;
            margin: 0 auto 20px auto;
          "
        >
          TOP COLLECTIONS
        </h1>

        <div class="collections-cards row gap-1 justify-c">
          <%- include('components/collection'); %>
        </div>
      </div>

      <div class="trending-designs">
        <h1
          class="dis-grid p-all_2 justify-c rounded-radius_2"
          style="
            color: whitesmoke;
            background-color: hsla(160, 67%, 14%, 0.7);
            max-width: max-content;
            margin: 20px auto;
          "
        >
          TRENDING DESIGNS
        </h1>

        <div class="furniture-cards row gap-1">
          <%- include('components/furniture-card'); %>
        </div>
      </div>
    </div>
  </main>

  <!-- NAV -->
  <nav class="side-nav close"><%- include('components/navbar'); %></nav>

  <!-- MODAL -->
  <div class="modal-container close p-all_2 dis-flex jus-cont-c align-items-c">
    <%- include('components/modal'); %>
  </div>

  <!-- ----- FOOTER ----- -->
  <footer class="footer dis-flex jus-cont-c align-items-c p-all_2">
    <%- include('components/footer'); %>
  </footer>

  <script src="/script/script.js" type="module"></script>
</body>
